apiVersion: v1
kind: ConfigMap
metadata:
    name: interactive-video-api-envs
data:
   env: |
       APP_NAME=Laravel
       APP_ENV=local
       APP_KEY=base64:g94nOaV37cYZmG8TpFyhHLjOLmWzj8Jx+2RSzMnuxLo=
       APP_DEBUG=true
       APP_URL=http://localhost

       LOG_CHANNEL=stack
       LOG_LEVEL=debug

       DB_CONNECTION=pgsql
       DB_HOST=pgsql-service
       DB_PORT=5432
       DB_DATABASE=interactive
       DB_USERNAME=root
       DB_PASSWORD=123456

       BROADCAST_DRIVER=log
       CACHE_DRIVER=file
       QUEUE_CONNECTION=sync
       SESSION_DRIVER=file
       SESSION_LIFETIME=120

       REDIS_HOST=127.0.0.1
       REDIS_PASSWORD=null
       REDIS_PORT=6379

       MAIL_MAILER=smtp
       MAIL_HOST=smtp.mailtrap.io
       MAIL_PORT=2525
       MAIL_USERNAME=null
       MAIL_PASSWORD=null
       MAIL_ENCRYPTION=null
       MAIL_FROM_ADDRESS=null
       MAIL_FROM_NAME="${APP_NAME}"

       AWS_ACCESS_KEY_ID=
       AWS_SECRET_ACCESS_KEY=
       AWS_DEFAULT_REGION=us-east-1
       AWS_BUCKET=

       PUSHER_APP_ID=
       PUSHER_APP_KEY=
       PUSHER_APP_SECRET=
       PUSHER_APP_CLUSTER=mt1
